@inject CustomAuthenticationStateProvider authService
@inject NavigationManager NavigationManager


<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">GRDB Management</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<AuthorizeView>
    <Authorized>
        <div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
            <nav class="flex-column">
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> Home
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/Books" Match="NavLinkMatch.All">
                        <span class="oi oi-document" aria-hidden="true"></span> @Routes.Books
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/Authors" Match="NavLinkMatch.All">
                        <span class="oi oi-person" aria-hidden="true"></span> @Routes.Authors
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/Genres" Match="NavLinkMatch.All">
                        <span class="oi oi-paperclip" aria-hidden="true"></span> @Routes.Genres
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/Users" Match="NavLinkMatch.All">
                        <span class="oi oi-people" aria-hidden="true"></span> @Routes.Users
                    </NavLink>
                </div>
                <div class="nav-item px-3 mt-auto">
                    <button class="btn btn-link" @onclick="Logout">
                        <span class="oi oi-account-logout" aria-hidden="true"></span> Logout
                    </button>
                </div>
            </nav>
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
            <nav class="flex-column">
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> Home
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/Login" Match="NavLinkMatch.All">
                        <span class="oi oi-account-login" aria-hidden="true"></span> @Routes.Login
                    </NavLink>
                </div>
            </nav>
        </div>
    </NotAuthorized>
</AuthorizeView>


@code {
    private bool collapseNavMenu = true;
    private bool isAuthenticated;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private async Task Logout()
    {

        await authService.MarkUserAsLoggedOut();

        NavigationManager.NavigateTo("/Login", forceLoad: true);
    }
}
